/* .holder{
    width: 100%;
    height: 100vh;
    
    background-color: var(--darkViolet) ;
    display: flex;
    flex-direction: row;
} */


.holder {
    width: 100%;
    height: 100vh;
    background-color: var(--darkViolet);
    display: flex;
}

#sideMenu{
    width: 23%;
    height: 100%;
}

#content{
    width: 77%;
    height: 100%;
}

